$font-family: "Raleway", sans-serif;
$second-family: "Lato", sans-serif;
$third-family: "Ruberoid", sans-serif;
$font3: "Inter", sans-serif;
$black: #0d233b;
$gray-text: #686868;
$white: #fff;
$red: #f57676;